{:aliases
 {:1.7  {:extra-deps #:org.clojure {clojure #:mvn {:version "1.7.0"}}},
  :1.8  {:extra-deps #:org.clojure {clojure #:mvn {:version "1.8.0"}}},
  :1.9  {:extra-deps #:org.clojure {clojure #:mvn {:version "1.9.0"}}},
  :1.10 {:extra-deps #:org.clojure {clojure #:mvn {:version "1.10.0"}}}
  :runner
  {:extra-deps
   #:com.cognitect {test-runner
                    {:git/url
                     "https://github.com/cognitect-labs/test-runner",
                     :sha "76568540e7f40268ad2b646110f237a60295fa3c"}},
   :main-opts      ["-m" "cognitect.test-runner" "-d" "test"]},
  :test {:extra-deps  {org.clojure/test.check #:mvn {:version "RELEASE"}}
         :extra-paths ["test"]}
  :dev  {:jvm-opts ["-Dclojure.spec.compile-asserts=true"
                    "-Dclojure.spec.check-asserts=true"
                    "-DTIMBRE_LEVEL=:warn"]}},
 :deps {cheshire                           #:mvn {:version "5.8.0"},
        com.taoensso/timbre                #:mvn {:version "4.10.0"},
        io.aviso/pretty                    #:mvn {:version "0.1.33"},
        org.clojure/clojure                #:mvn {:version "1.10.0"}
        pool                               #:mvn {:version "0.2.1"}
        com.logentries/logentries-appender #:mvn {:version "1.1.38"}}}
